<!DOCTYPE html>
<html>
<head>
  <title>Propertymanagement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Begin Wrapper -->
<div id="wrapper">
	
	<!-- Begin Header -->
	<div id="header">
		
		This is the header
		
	</div>
	<!-- End Header -->
	
	<!-- Begin Navigation -->
	<div id="navigation">
		
		<%= link_to 'Home', users_path %>
		
	</div>
	<!-- End Navigation -->
	
	<!-- Begin Lef Column -->
	<div id="leftcolumn">
			
			<%= yield %>
		
	</div>
	<!-- End Left Column -->
	
	<!-- Begin Footer -->
	<div id="footer">
		
		This is the footer
		
	</div>
	<!-- End Footer -->
	
</div>
<!-- End Wrapper -->

</body>
</html>
